div.templates {
  height: auto;
  min-height: 95vh;
  padding: 30px 0 100px;
  left: 0;
  right: 0;
  background-color: rgb(168, 168, 168);
  padding-top: 30px;
  /* background-color: rgb(62, 86, 157); */
  font-family: Arial, Helvetica, sans-serif;
}
.adam {
  z-index: 50;
}
form {
  text-align: center;
}
.div-toglepassword {
  width: 30px;
  height: auto;
  padding: 20px;
  position: absolute;
  z-index: 50;
  right: 20px;
  top: 0;
}
.black {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  position: relative;
  /* background-color: black; */
}
@media (max-width: 780px) {
  div.templates {
    height: auto;
    padding: 10vh 0px;
  }
  .black {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
    /* background-color: black; */
  }
  .LinkPanel {
    width: 90px;
    height: 20px;
    /* display: block; */
    /* background-color: rebeccapurple; */
  }
  .Labels {
    width: 100% !important;
    text-align: center !important;
  }
}
